body {
background-color:mistyrose;
}
body
{
color:DarkMagenta;
font-size:20px;
font-family: cursive;
font-weight:100;
text-align: center;
}

h1 {
color: DarkMagenta;
font-size: 100px;
text-align: center;
background-color: PaleTurquoise;
font-family: cursive;
}
