h1 {
color:pink;
font-size:40px;
background-color:teal;
font-family: cursive;
text-align: center;
}

p {
color: navy;
font-size: 30px;
font-family: cursive;
text-align: center;
}
img {
width: 30%;
align-items: center;
}
